.animales-img{
  width: 20rem;
  height: 30vh;
  align-self: center;
}

.form-select{
  width: 20rem;
}

.card{
  display: block;
  display: flex;
}

.all-images{
  padding-bottom: 3rem;
  margin-top: 5rem;
}

.form-select, .form-check {
  width: 21.2rem;
}

.form-select2{
  height: 3rem;
}

label{
  padding-left: 0.5rem;
}

.form-check .form-check-input {
  border-radius: 10rem;
}


