<!-- Explicación de Animales Fantasticos -->
<h2 class="text-center">Animales Fantásticos</h2>

<section class="row d-flex justify-content-evenly all-images">

  <div class="card" style="width: 21rem;" *ngFor="let animales of animals">
    <img [src]="animales.src" class="card-img-top animales-img" [alt]="animales.alt">
    <div class="card-body">
      <h5 class="card-title text-center">¿Quién soy?</h5>
      <p class="card-text text-center">{{animales.pista}}</p>
    </div>
  </div>

</section>

<section class="col d-flex justify-content-evenly all-images">

  <form [formGroup]="formTest">

    <select formControlName="answerOne">

      <option selected>Selecciona una opción</option>
      <option>Fenix</option>
      <option>Thestral</option>
      <option>Aethonan</option>
      <option>Swooping Evil</option>
      <option>Colacuerno Hungaro</option>
      <option>Colacuerno Aleman</option>

      <!-- No agarra, y además me bloquea la alerta del formulario3 -->
      <div *ngIf="formTest.controls['answerOne'].invalid && (formTest.controls['answerOne'].dirty || formTest.controls['answerOne'].touched)" class="alert alert-danger">
        <div *ngIf="formTest.controls['answerOne'].hasError('required')">
          El nombre es requerido
        </div>
      </div>

    </select>


  </form>


  <form [formGroup]="formTest2">

    <div class="form-check form-group">
      <input type="radio"  formControlName="answerTwo" value="Fenix">
      <label class="form-check-label" for="flexRadioDefault1">
        Fenix
      </label>
    </div>

    <div class="form-check form-group">
      <input type="radio"  formControlName="answerTwo" value="Thestral">
      <label class="form-check-label" for="flexRadioDefault2">
        Thestral
      </label>
    </div>

    <div class="form-check form-group">
      <input type="radio" formControlName="answerTwo" value="Aethonan">
      <label class="form-check-label paddin-form-check" for="flexRadioDefault3">
        Aethonan
      </label>
    </div>

    <div class="form-check form-group">
      <input type="radio"  formControlName="answerTwo" value="Swooping Evil">
      <label class="form-check-label" for="flexRadioDefault4">
        Swooping Evil
      </label>
    </div>

    <div class="form-check form-group">
      <input  type="radio"  formControlName="answerTwo" value="Colacuerno Hungaro">
      <label class="form-check-label" for="flexRadioDefault5">
        Colacuerno Hungaro
      </label>
    </div>

    <div class="form-check form-group">
      <input type="radio"  formControlName="answerTwo" value="Colacuerno Aleman">
      <label class="form-check-label" for="flexRadioDefault6">
        Colacuerno Aleman
      </label>
    </div>

  </form>


  <form [formGroup]="formTest3">

    <div class="form-group">
      <label for="answerThree">Escriba el nombre</label>
        <input type="text" class="form-control" formControlName="answerThree">
        <!-- <div *ngIf="animalControl3.invalid && (animalControl3.dirty || animalControl3.touched)" class="alert alert-danger">
          <div *ngIf="animalControl3.hasError('required')">
            El nombre es requerido
          </div>
        </div> -->

        <div *ngIf="formTest3.controls['answerThree'].invalid && (formTest3.controls['answerThree'].dirty || formTest3.controls['answerThree'].touched)" class="alert alert-danger">
          <div *ngIf="formTest3.controls['answerThree'].hasError('required')">
            El nombre es requerido
          </div>
        </div>
    </div>

  </form>

</section>

<div class="d-flex justify-content-center">
  <!-- Si no responde el formulario tres, el botón no se activa -->
  <button class="btn btn-primary text-center" (click)="confirm()" [disabled]="formTest3.invalid">Confirmar</button>
</div>

<div class="contenedor">
  <div *ngIf="formTest3.controls['answerThree'].invalid && (formTest3.controls['answerThree'].dirty || formTest3.controls['answerThree'].touched)" class="alert alert-danger alert2">
    <div *ngIf="formTest3.controls['answerThree'].hasError('required')">
      El nombre es requerido en el formulario debajo del animal venenoso
    </div>
  </div>
</div>

<div class="contenedor2">
  <p>Total de Respuestas Acertadas: {{answer.total}}</p>
</div>










